/server/.project
/android/.idea/
/android/android.iml
/android/local.properties
/android/out
/androidTest/.idea/
/androidTest/android.iml
/androidTest/local.properties
/androidTest/out

/android/.project
/android/.classpath
/android-test/.project
/android-test/.classpath
/android-test/bin
