/server/.project
/*/.idea/
/*/local.properties
/*/.project
/*/.classpath
/*/bin/
/*/out/
/android/.idea/
/android/local.properties
/android/out
/androidTest/.idea/
/androidTest/android.iml
/androidTest/local.properties
/androidTest/out
/android/bin/
/android/.project
/android/.classpath
/android-test/.project
/android-test/.classpath
/android-test/bin
/webapp/js/vendor/
.DS_Store
