@charset "UTF-8";

#counter-next-attack {
	background-color: white;
	border: 2px solid black;
	font-style: italic;
	font-weight: bold;
	height: 2em;
	line-height: 2em;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	width: 50px;
}
