html, body {
	margin: 0;
	padding: 0;
}

/* Layout */

#app { margin: auto; width: 500px; position: relative; }
#map-canvas { width: 500px; height: 500px; }

#map-canvas img { /* Hack CSS because Bootstrap affect the display of Google Map */
  max-width: none;
}

#map-canvas label { /* Hack CSS because Bootstrap affect the display of Google Map */
  width: auto; display:inline; 
}

/* Heading */

#app header { background-color: #3C3C3C; color: #FFFFFF; padding: 4px 8px; text-align: center; }
	#app header h1 { font-size: 18px; text-transform: uppercase; }

/* Controls */

#controls { text-align: center; position: absolute; width: 100%; bottom: 0; }
	/* button transitions */
	#controls #build-tower { -webkit-transition-property: height; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-out; }
	#controls #build-tower { border-radius: 0; border-top-left-radius: 30px; border-top-right-radius: 30px; display: inline-block; height: 0; }
	#controls #build-tower:hover { height: 50px; }